<h1> Client List  <h1>
<ul>
 <% @clients.each do |client| %>
  <li>
    <%= link_to client.name,job_client_path,client %>
 </li>
 <% end %>
 <%= link_to "Create New Client",new_job_client_path(@client) %>         
</ul>

  